#board {
    display:flex;
    flex-wrap:wrap;
}
#bomb-count .char {
    border-color:#ff0;
    color:#ff0;
}
#hud {
    display:flex;
    justify-content:space-between;
    padding-left:60px;
    user-select:none;
}
.cell {
    align-items:center;
    background-color:#666;
    border:3px solid #999;
    border-radius:50%;
    color:transparent;
    cursor:pointer;
    display:flex;
    font-family:monospace;
    font-size:2em;
    justify-content:center;
    position:relative;
    text-align:center;
    transition:all 250ms;
    user-select:none;
}
.cell::after {
    content:"";
    display:block;
    position:absolute;
}
.cell:hover {
    background-color:#999;
    border-color:#fff;
}
.cell.showing {
    background-color:transparent;
    border-color:#666;
}
.cell.c0 {
    cursor:default;
    opacity:0;
}
.cell.c1 {
    color:#06f;
}
.cell.c2 {
    color:#0f0;
}
.cell.c3 {
    color:#f33;
}
.cell.c4 {
    color:#63f;
}
.cell.c5 {
    color:#f3f;
}
.cell.c6 {
    color:#3ff;
}
.cell.c7 {
    color:#f93;
}
.cell.c8 {
    color:#fff;
}
.cell.deny {
    border-color:#c00;
}
.cell.flagged {
    border-color:#ff0;
}
.cell.glimmer {
    background-color:#999;
    border-color:#fff;
}
.cell.flagged::after {
    border-left:10px solid transparent;
    border-top:15px solid #ff0;
    border-right:10px solid transparent;
    left:calc(50% - 10px);
    top:calc(50% - 7.5px);
}
.char {
    align-items:center;
    border:3px solid #fff;
    border-radius:50%;
    color:#fff;
    display:flex;
    font-size:2em;
    font-family:monospace;
    height:50px;
    justify-content:center;
    margin:5px;
    position:relative;
    width:50px;
}
.char.flagged::after {
    border-left:10px solid transparent;
    border-top:15px solid #ff0;
    border-right:10px solid transparent;
    content:"";
    display:block;
    left:calc(50% - 10px);
    top:calc(50% - 7.5px);
}
.char-group {
    display:flex;
}
.count {
    align-items:center;
    color:#666;
    display:flex;
    font-family:monospace;
    font-size:2em;
    justify-content:center;
    user-select:none;
}
.defeat {
    background-color:#c00;
}
.defeat .cell {
    background-color:transparent;
    border-color:#000;
    color:#000;
    cursor:default;
}
.defeat .cell.bomb {
    background-color:#000;
    color:#c00;
}
.defeat .cell.c0.flagged {
    opacity:1;
}
.defeat .cell.flagged {
    border-color:#ff0;
    color:#ff0;
}
.defeat .cell.flagged::after {
    opacity:0;
}
.defeat .cell.trigger {
    border-color:#fff;
    color:#fff;
}
.defeat .count {
    color:#000;
}
.victory {
    background-color:#0c0;
}
.victory .cell {
    background-color:transparent;
    border-color:#000;
    color:#000;
    cursor:default;
}
.victory .cell.flagged {
    border-color:#ff0;
    color:#ff0;
}
.victory .cell.flagged::after {
    opacity:0;
}
.victory .count {
    color:#000;
}
* {
    box-sizing:border-box;
}
body {
    background:#000;
    transition:all 500ms;
}